body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #f2f2f2;
  background-image: url('Bckg.png');
  background-size: cover;
}
.container {
  margin: 20px auto;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.container input,
.container select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type='submit']:hover {
  background-color: #45a049;
}
.pers-data {
  background-color: #a22c29;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgba(80, 24, 24, 0.3);
}
.group-members a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.group-members {
  padding: 10px 0;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
